/* ESTILOS GENERALES */
html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* Partes necesarias para mejorar el formato de la página en generla, especialmente el footer */
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 50px;
}
nav, nav ul li a, footer {
    color: white;
    background-color: #2a253f;
    text-align: center;
    /* max-height: 30px; */
}

/* CABECERA DEL INDEX */
header#index {
    background-color: #48ac48;
    color: white;
    text-align: center;
}
header .tituloindex {
    height: 100%;
    padding: 50px;
    font-size: 0.8em;
}

/* MENÚ PRINCIPAL */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
nav ul li {
    list-style: none;
    display: inline-flex;
    flex: 1;
    padding: 0;
    margin: 0;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: auto;
    width: 100%;
}
nav ul li a:hover {
    background-color: rgb(179, 179, 171);
    color: #2a253f;
}

/* SECCIÓN PRINCIPAL */
main {
    margin: 30px;
}
main article.cajaindex {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
main div.index, div.servicios {
    /* border: 1px solid; */
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: beige;
    font-size: 0.9em;
}

/* FOOTER */
footer {
    height: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
}


/* =================== SERVICIOS ======================= */
/* ---- Cabecera ---- */
header h1 {
    font-size: 1.7em;
    margin-left: 30px;
}

/* ---- Contenido principal de servicios.html ---- */
main article.cajaservicios {
    display: grid;
    grid-template-columns: auto auto auto auto; /* Común con .cajaindex */
    gap: 10px;
}
main article.cajaservicios div.servicios {
    align-items: center;
    justify-content: center;
}